{%extends "base.html"%}
{%block title%}Create post{%endblock%}

{%block content%}

<div class="container mt-3">
    <div class="text-center">
        <h3>Create post</h3>
    </div>
    <form class="shadow p-3" method="POST">
        <div class="mb-3">
            <label for="inputField" class="form-label">Heading</label>
            <input type="text" class="form-control" id="inputField" name="header" placeholder="Enter header" required>
        </div>
        <div class="mb-3">
            <label for="textareaField" class="form-label">Content</label>
            <textarea class="form-control" id="textareaField" name="content" rows="10" cols="40"></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        
    </form>
</div>

{%endblock%}